{{extend 'layout.html'}}
<head>
  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <meta name="apple-mobile-web-app-capable" content="yes" />

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  <link href="{{=URL('static','css/stupid.css')}}" rel="stylesheet" type="text/css"/>

  <link href="{{=URL('static','css/web2py.css')}}" rel="stylesheet" type="text/css"/>

</head>


<i class="fa fa-edit fa-lg"></i>

  <table class = "center" id="myTable2">
    <tr>
      <th onclick="sortTable(0)">First Name</th>
      <th onclick="sortTable(1)">Last Name</th>
      <th>Email</th>
      <th onclick="sortTable(2)">GPA</th>
      <th onclick="sortTable(3)">Income</th>
      <th>Number of Family Members</th>
      <th>Race/Ethnicity</th>
      <th>Cover Letter </th>
    </tr>
      {{for user_i in user_info:}}
    <tr>
      <td>{{=user_i.first_name}}</td>
      <td>{{=user_i.last_name}}</td>
      <td>{{=user_i.user_email}}</td>
      <td>{{=user_i.gpa}}</td>
      <td>{{=user_i.income}}</td>
      <td>{{=user_i.family_members}}</td>
      <td>{{=user_i.race}}</td>
      <td><a href="{{=URL('default', 'download', args=user_i.cover_letter)}}">PDF</a></td>
    </tr>
    {{pass}}
  </table>
  <script>
  function sortTable(n) {
    var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
    table = document.getElementById("myTable2");
    switching = true;
    // Set the sorting direction to ascending:
    dir = "asc";
    /* Make a loop that will continue until
    no switching has been done: */
    while (switching) {
      // Start by saying: no switching is done:
      switching = false;
      rows = table.getElementsByTagName("TR");
      /* Loop through all table rows (except the
      first, which contains table headers): */
      for (i = 1; i < (rows.length - 1); i++) {
        // Start by saying there should be no switching:
        shouldSwitch = false;
        /* Get the two elements you want to compare,
        one from current row and one from the next: */
        x = rows[i].getElementsByTagName("TD")[n];
        y = rows[i + 1].getElementsByTagName("TD")[n];
        /* Check if the two rows should switch place,
        based on the direction, asc or desc: */
        if (dir == "asc") {
          if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
            // If so, mark as a switch and break the loop:
            shouldSwitch = true;
            break;
          }
        } else if (dir == "desc") {
          if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
            // If so, mark as a switch and break the loop:
            shouldSwitch = true;
            break;
          }
        }
      }
      if (shouldSwitch) {
        /* If a switch has been marked, make the switch
        and mark that a switch has been done: */
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
        // Each time a switch is done, increase this count by 1:
        switchcount ++;
      } else {
        /* If no switching has been done AND the direction is "asc",
        set the direction to "desc" and run the while loop again. */
        if (switchcount == 0 && dir == "asc") {
          dir = "desc";
          switching = true;
        }
      }
    }
  }
  </script>
